{{ define "admin/deck.html" }}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>SIF 小助手</title>
    {{ template "admin/nav/css.html" . }}
</head>

<body>
    <div class="layui-layout layui-layout-admin">
        {{ template "admin/nav/header.html" . }}
        {{ template "admin/nav/side.html" . }}

        <div class="layui-body">
            <div style="padding: 15px;">{{ .url }}</div>
        </div>

        {{ template "admin/nav/footer.html" . }}
    </div>
    <script src="/static/js/layui.js"></script>
</body>

</html>
{{ end }}