{{ define "admin/nav/css.html" }}
<link rel="stylesheet" href="/static/css/layui.css">

<style>
    .sif-title {
        font-size: 1.3em;
        color: aliceblue;
    }

    .layui-header {
        background-color: #e4007f !important;
    }

    .layui-side {
        background-color: #e4007f;
    }

    .layui-nav {
        background-color: #e4007f;
    }

    .layui-nav-tree .layui-nav-child dd.layui-this,
    .layui-nav-tree .layui-nav-child dd.layui-this a,
    .layui-nav-tree .layui-this,
    .layui-nav-tree .layui-this>a,
    .layui-nav-tree .layui-this>a:hover {
        background-color: #ff6699 !important;
    }
</style>
{{ end }}